/////////////////////////////////////////
// COLORS VARIABLES
$text-color: hsl(0, 0%, 96%);
$text-color-1: hsl(0, 0%, 0%);
$background-color: hsl(0, 0%, 15%);
$button-color: hsl(0, 0%, 76%);
$game-over-color: hsl(0, 0%, 22%);

body {
  margin: 0;
  background-color: $background-color;
  display: flex;
}