/////////////////////////////////////////
// BUTTON
button {
  cursor: pointer;
  color: $text-color-1;
  background: $button-color;
  border: none;
  height: 50px;
  width: 500px;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {}
}