/////////////////////////////////////////
// CANVAS
canvas {
  margin-top: 25px;
  z-index: 8;
}

.game-over-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  background-color: $game-over-color;
  margin-top: -4px;
  z-index: 10;
  display: flex;
}